form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.field-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 16px;
}

.field {
    height: max-content;
    border-radius: 8px;
    border: 1px solid $color-grey;
    padding: 16px 16px 0;
    position: relative;
    transition: all 300ms ease;
    background-color: #f4f4f4;

    &:focus-within,
    &:hover {
        border-color: $color-primary;
    }

    input {
        height: 32px;
    }

    textarea {
        height: 84px;
        margin-top: 8px;
    }

    input,
    textarea {
        width: 100%;
        resize: none;
        border: none;
        font-size: 1.4rem;
        font-family: $font-body-family;
        background: transparent;

        &::-webkit-input-placeholder { /* WebKit browsers */ 
            color: transparent; 
        } 
        &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
            color: transparent; 
        } 
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
            color: transparent; 
        } 
        &::-ms-input-placeholder { /* Microsoft Edge */ 
            color: transparent; 
        } 
        &::placeholder { 
            color: transparent; 
        }

        &:active,
        &:focus,
        &:focus-visible,
        &:focus-within,
        &:not(:placeholder-shown) {
            outline: none;

            & + label {
                top: 6px;
                font-size: 1.1rem;
            }
        }
    }

    label {
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 1.4rem;
        transition: all 300ms ease;
        pointer-events: none;
    }
}

.image-field-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;

    label {
        cursor: pointer;
        height: 100%;
        padding: 0;
        overflow: hidden;

        &:first-of-type {
            grid-column: span 3;
            grid-row: span 3;

            .image-label {
                svg {
                    width: 64px;
                    height: 64px;
                }
    
                span {
                    font-size: 1.6rem;
                }
            }
        }

        &:hover .image-label {
            color: $color-primary;
        }

        .image-label {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $color-grey;
            height: 100%;
            transition: all 300ms ease;
            padding: 16px 8px;

            svg {
                width: 32px;
                height: 32px;
            }

            span {
                font-size: 1.2rem;
                text-align: center;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &:hover .delete-img {
            opacity: 1;
        }

        .delete-img {
            position: absolute;
            top: 8px;
            right: 8px;
            color: $color-grey;
            padding: 4px;
            background-color: transparent;
            transition: all 300ms ease;
            opacity: 0;

            &:hover {
                color: #000;
            }
        }
    }
}