html {
    box-sizing: border-box;
    font-family: $font-body-family;
    font-size: 10px;
    color: $color-text;
    scroll-behavior: smooth;
    font-variant-numeric: lining-nums proportional-nums;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background: #fff;
    overflow-x: hidden;
    font-size: 1.6rem;

    &::-webkit-scrollbar {
        display: none;
    }
}

p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 20px;
    width: max-content;
}

.text {
    font-size: 1.6rem;
    line-height: 2px;
}

.text-small {
    font-size: 1.4rem;
    line-height: 16px;
}

.text-extra-small {
    font-size: 1.2rem;
    line-height: 14px;
}

.text-bold {
    font-weight: 700;
}

h1,
.h1 {
    font-family: $font-heading-family;
    line-height: 1;
    font-size: 3.2rem;
    font-weight: 700;
}

h2,
.h2 {
    font-family: $font-heading-family;
    line-height: 1.2;
    font-size: 2.8rem;
    font-weight: 700;
}

h3,
.h3 {
    font-family: $font-heading-family;
    line-height: 1;
    font-size: 2.4rem;
}

h4,
.h4 {
    font-family: $font-heading-family;
    line-height: 1;
    font-size: 2rem;
}

h5,
.h5 {
    font-family: $font-heading-family;
    line-height: 1;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: currentColor;
    transition: all 300ms ease;
    font-size: 1.6rem;

    &:hover {
        color: $color-link;
    }
}

.page-width {
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;

    @media screen and (max-width: 1999px) {
        padding: 0 24px;
    }
}

.hidden {
    display: none !important;
}

.success {
    color: green;
}

.warning {
    color: orange;
}

.critical {
    color: red;
}

button {
    border: none;
    cursor: pointer;
    
    &:hover,
    &:focus,
    &:active,
    &:focus-within{
        outline: none;
        border: none;
    }
}