//Brand
$color-primary: #DA4167;
$color-secondary: #083D77;
$color-tertiary: #EBEBD3;

//Font
$font-body-family: 'Raleway', sans-serif;
$font-heading-family: 'Raleway', sans-serif;
$color-text: #222;
$color-link: #DA4167;

//Brakpoints
$breakpoint-mobile: 749px;
$content-width: 1200px;

// Media Queries
@mixin mobile-only {
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}